################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UniSpace/bin/Debug/net8.0
/UniSpace/obj
