@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h1>Manage Users</h1>
<a asp-action="CreateUser" class="btn btn-primary">Create New User</a>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
