@model UniSpace.Data.Models.Specialty

<h2>Specialty Details</h2>

<div>
    <h4>Specialty Details</h4>
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Subjects</dt>
        <dd class="col-sm-10">
            @if (Model.MainSubjects != null && Model.MainSubjects.Any())
            {
                <ul>
                    @foreach (var subject in Model.MainSubjects)
                    {
                        <li>@subject.Name</li>
                    }
                </ul>
            }
            else
            {
                <p>No subjects assigned to this specialty.</p>
            }
        </dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
